body {
  background: #ffffff;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
#navigation {
  background: #5CB0CC;
  height: 80px;
}
small {
  font-size: 10px;
}
#logo {
  Float:left;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 35px;
}
#slogan {
  padding-top:10px;
  Float:right;
  padding-right:10px;
}
#main-action {
  font-size: 20px;
  max-width: 800px;
  margin: 20px auto;
}
#footer {
  font-size: 10px;
  text-align: center;
}
.percent {
  background: lightgrey;
  padding: 20px;
  margin: 10px;
}
